body {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
    background-repeat: no-repeat;
    background-size: 3000px 1000px;
    text-align: center;
    }
h1 {
    font-weight: bold;
    color: blue;
}
.intro{
    font-weight: bold;
    color: black;
    background-color: rgba(228, 228, 228, 0.452);
}
.comp{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.lang{
     width: 250px;
     height:115px;
}
.home{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.options{
    margin:auto;
    width: 30%;
    height: 70%;
    border: 3px solid green;
}
#python{
  position: absolute;
  top: 200px;
  left: 20px;
}
#java{
    position: absolute;
    top: 20px;
    left: 20px;
}
#greenfoot{
    position: absolute;
    top: 20px;
    left: 20px;
}
